<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/header') %>
    <section>
        <h2>Search by Title or Author</h2>
        <form action="/searches" method="POST">
            <input id = "searchBook" type="text" name="searchBook" placeholder="Enter a title or author" >
            <label for="searchByTitle">Title</label>
            <input id="searchByTitle" type="radio" name="searchByTitle">
            <label for="searchByAuthor">Author</label>
            <input id="searchByAuthor" type="radio"  name="searchByAuthor">
            <button type="submit">Search the Google Books API</button>
        </form>
    </section> 
    <%- include('../../partials/footer') %>
</body>
</html>

